---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/users?client_id=3a02de58e170780da280&client_secret=326fac13d7c7f46d4dd9d8b5009c2247110408ea&page=20&per_page=50&q=type:org%20created:2016-03-14..2016-03-21&sort=repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1458574909'
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/search/users?page=1&per_page=50&sort=repositories&q=type%3Aorg+created%3A2016-03-14..2016-03-21&client_id=3a02de58e170780da280&client_secret=326fac13d7c7f46d4dd9d8b5009c2247110408ea>;
        rel="first", <https://api.github.com/search/users?page=19&per_page=50&sort=repositories&q=type%3Aorg+created%3A2016-03-14..2016-03-21&client_id=3a02de58e170780da280&client_secret=326fac13d7c7f46d4dd9d8b5009c2247110408ea>;
        rel="prev"
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":12100,"incomplete_results":false,"items":[{"login":"vmakservice","id":17862328,"avatar_url":"https://avatars.githubusercontent.com/u/17862328?v=3","gravatar_id":"","url":"https://api.github.com/users/vmakservice","html_url":"https://github.com/vmakservice","followers_url":"https://api.github.com/users/vmakservice/followers","following_url":"https://api.github.com/users/vmakservice/following{/other_user}","gists_url":"https://api.github.com/users/vmakservice/gists{/gist_id}","starred_url":"https://api.github.com/users/vmakservice/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/vmakservice/subscriptions","organizations_url":"https://api.github.com/users/vmakservice/orgs","repos_url":"https://api.github.com/users/vmakservice/repos","events_url":"https://api.github.com/users/vmakservice/events{/privacy}","received_events_url":"https://api.github.com/users/vmakservice/received_events","type":"Organization","site_admin":false,"score":1.0},{"login":"LaBaGames","id":17891694,"avatar_url":"https://avatars.githubusercontent.com/u/17891694?v=3","gravatar_id":"","url":"https://api.github.com/users/LaBaGames","html_url":"https://github.com/LaBaGames","followers_url":"https://api.github.com/users/LaBaGames/followers","following_url":"https://api.github.com/users/LaBaGames/following{/other_user}","gists_url":"https://api.github.com/users/LaBaGames/gists{/gist_id}","starred_url":"https://api.github.com/users/LaBaGames/starred{/owner}{[...]
