---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/users?client_id=3a02de58e170780da280&client_secret=326fac13d7c7f46d4dd9d8b5009c2247110408ea&page=20&per_page=50&q=type:org%20created:2016-03-15..2016-03-22&sort=repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1458642047'
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/search/users?page=1&per_page=50&sort=repositories&q=type%3Aorg+created%3A2016-03-15..2016-03-22&client_id=3a02de58e170780da280&client_secret=326fac13d7c7f46d4dd9d8b5009c2247110408ea>;
        rel="first", <https://api.github.com/search/users?page=19&per_page=50&sort=repositories&q=type%3Aorg+created%3A2016-03-15..2016-03-22&client_id=3a02de58e170780da280&client_secret=326fac13d7c7f46d4dd9d8b5009c2247110408ea>;
        rel="prev"
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":11690,"incomplete_results":false,"items":[{"login":"apollo-opensource","id":17924976,"avatar_url":"https://avatars.githubusercontent.com/u/17924976?v=3","gravatar_id":"","url":"https://api.github.com/users/apollo-opensource","html_url":"https://github.com/apollo-opensource","followers_url":"https://api.github.com/users/apollo-opensource/followers","following_url":"https://api.github.com/users/apollo-opensource/following{/other_user}","gists_url":"https://api.github.com/users/apollo-opensource/gists{/gist_id}","starred_url":"https://api.github.com/users/apollo-opensource/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/apollo-opensource/subscriptions","organizations_url":"https://api.github.com/users/apollo-opensource/orgs","repos_url":"https://api.github.com/users/apollo-opensource/repos","events_url":"https://api.github.com/users/apollo-opensource/events{/privacy}","received_events_url":"https://api.github.com/users/apollo-opensource/received_events","type":"Organization","site_admin":false,"score":1.0},{"login":"SUGDE","id":17926291,"avatar_url":"https://avatars.githubusercontent.com/u/17926291?v=3","gravatar_id":"","url":"https://api.github.com/users/SUGDE","html_url":"https://github.com/SUGDE","followers_url":"https://api.github.com/users/SUGDE/followers","following_url":"https://api.github.com/users/SUGDE/following{/other_user}","gists_url":"https://api.github.com/users/SUGDE/gists{/gist_id}","starred_url":"https://api.github.com/users/SUGDE/starred{/owner}{/repo}","subscriptions_url":[...]
