---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/jeffball55/rop_compiler/stargazers?client_id=3a02de58e170780da280&client_secret=326fac13d7c7f46d4dd9d8b5009c2247110408ea&page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4511'
      X-Ratelimit-Reset:
      - '1458643963'
      Etag:
      - '"5fbb357b8e908522ddaf900d221da1f2"'
      X-Github-Media-Type:
      - github.v3; param=star; format=json
    body:
      encoding: UTF-8
      string: '[{"starred_at":"2016-03-15T08:26:55Z","user":{"login":"sha8e","id":7942426,"avatar_url":"https://avatars.githubusercontent.com/u/7942426?v=3","gravatar_id":"","url":"https://api.github.com/users/sha8e","html_url":"https://github.com/sha8e","followers_url":"https://api.github.com/users/sha8e/followers","following_url":"https://api.github.com/users/sha8e/following{/other_user}","gists_url":"https://api.github.com/users/sha8e/gists{/gist_id}","starred_url":"https://api.github.com/users/sha8e/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sha8e/subscriptions","organizations_url":"https://api.github.com/users/sha8e/orgs","repos_url":"https://api.github.com/users/sha8e/repos","events_url":"https://api.github.com/users/sha8e/events{/privacy}","received_events_url":"https://api.github.com/users/sha8e/received_events","type":"User","site_admin":false}},{"starred_at":"2016-03-15T09:23:44Z","user":{"login":"0x27","id":9094330,"avatar_url":"https://avatars.githubusercontent.com/u/9094330?v=3","gravatar_id":"","url":"https://api.github.com/users/0x27","html_url":"https://github.com/0x27","followers_url":"https://api.github.com/users/0x27/followers","following_url":"https://api.github.com/users/0x27/following{/other_user}","gists_url":"https://api.github.com/users/0x27/gists{/gist_id}","starred_url":"https://api.github.com/users/0x27/starre[...]
